h2 Create Transaction

form(action="/trans/create" method="post")
    h3 User
    div
        select(name = "user")
            each val in users
                option(value= val.name) #{val.name}

    h3 Book
    div
        select(name = "book")
            each val in books
                option(value= val.title) #{val.title}
    button Create