extend ../layouts/common

block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-3
        a.navbar-brand(href='#')
            img(src="/images/p1.jpg", alt="lolol",width="30", height="30",loading="lazy")
        a.navbar-brand(href='#') Transactions
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/') Home
                li.nav-item
                    a.nav-link(href="/trans/create") New

    table.table.table-bordered
        thead.thead-dark
            tr
                th(scope='col') User
                th(scope='col') Book
                th(scope='col') 
                th(scope='col') 
                th(scope='col') 
        tbody
            each val in trans
                tr 
                    td.text-center= val.user
                    td.text-center= val.book
                    td.text-center
                        a.btn.btn-light(href="/trans/" + val.id) View
                    td.text-center
                        a.btn.btn-light(href="/trans/" + val.id + "/delete") Delete
                    td.text-center
                        a.btn.btn-light(href="/trans/" + val.id + "/complete") Complete