h1 Transaction

div 
    a(href="/") Home
div
    a(href="/trans/create") New

ul
    each val in trans
        li
            b User: 
            span= val.user
            span &nbsp;
            b Book:
            span &nbsp;
            span= val.book
            span &nbsp;
            a(href="/trans/" + val.id) View
            span &nbsp;
            a(href="/trans/" +  val.id + "/delete") Delete
            span &nbsp;
            a(href="/trans/" +  val.id + "/complete") Complete