extend ../layouts/common

block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-3
        a.navbar-brand(href='#')
            img(src="/images/p1.jpg", alt="lolol",width="30", height="30",loading="lazy")
        a.navbar-brand(href='#') CREATE BOOK
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/books') Home
        if user
            p(style ="color:white;")= user.name                    
    if errors   
        each error in errors
            .alert.alert-danger(role='alert')= error
    form(action='/books/create', method='post')
        .form-group
            label(for='exampleInputEmail1') Book
            input#exampleInputEmail1.form-control(type='text', name='title', value = values ? values.title : '')
            label(for='exampleInputEmail1') Description
            input#exampleInputEmail1.form-control(type='text', name='description',value = values ? values.description : '')
        button.btn.btn-primary(type='submit') Create