extend ../layouts/common

block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-3
        a.navbar-brand(href='#')
            img(src="/images/p1.jpg", alt="lolol",width="30", height="30",loading="lazy")
        a.navbar-brand(href='#') Books
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/') Home
                li.nav-item
                    a.nav-link(href="/books/create") New 
        if user
            p(style ="color:white;")= user.name                    

    form(action="/books/search" method="get")
        .form-group
            label(for='exampleInputEmail1') Tìm kiếm
            input#exampleInputEmail1.form-control(type='text', name='q')
        button.btn.btn-primary(type='submit') Search
    table.table.table-bordered
        thead.thead-dark
            tr
                th(scope='col') Book Title
                th(scope='col') 
                th(scope='col') 
                th(scope='col') 
        tbody
            each val in books
                tr 
                    td.text-center= val.title
                    td.text-center
                        a.btn.btn-light(href="/books/" + val.id) View
                    td.text-center
                        a.btn.btn-light(href="/books/" + val.id + "/update") Update
                    td.text-center
                        a.btn.btn-light(href="/books/" +  val.id + "/delete") Delete