extend ../layouts/common

block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-3
        a.navbar-brand(href='#')
            img(src="/images/p1.jpg", alt="lolol",width="30", height="30",loading="lazy")
        a.navbar-brand(href='#') CREATE USERS
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/users') Home
        if user
            p(style ="color:white;")= user.name                    
    if errors    
        each error in errors
            .alert.alert-danger(role='alert')= error
    form(action='/users/create', method='post', enctype="multipart/form-data")
        .form-group
            label(for='userName') User
            input#userName.form-control(type='text', name='name', value= value? value.name.length<30?value.name:'':'')
            label(for='userEmail') Email
            input#userEmail.form-control(type='email', name='email', value= value?value.email:'')
            label(for='userAvatar') Avatar
            input#userAvatar.form-control-file(type='file', name='avatar')
        button.btn.btn-primary(type='submit') Create