extend ../layouts/common

block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-3
        a.navbar-brand(href='#')
            img(src="/images/p1.jpg", alt="lolol",width="30", height="30",loading="lazy")
        a.navbar-brand(href='#') UPDATE USER
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/users') Home
        if user
            p(style ="color:white;")= user.name     
    if errors    
        each error in errors
            .alert.alert-danger(role='alert')= error
    .row
        .col-12.col-md-4
            if userX.avatar
                img.rounded.float-left(src= "/" + userX.avatar, width="300px", height="300px",style="object-fit:cover;")
            else
                img.rounded.float-left(src="https://picsum.photos/200", width="300px", height="300px",style="object-fit:cover;")
        .col-12.col-md-8
            form(action="/users/" + userX.id + "/update" method="post", enctype="multipart/form-data")
                .form-group
                    label(for='userName') Name
                    input#userName.form-control(type='text', name='name', value= userX.name)
                    label(for='userEmail') Email
                    input#userEmail.form-control(type='email', name='email', value= userX.email)
                    label(for='userAvatar') Avatar
                    input#userAvatar.form-control-file(type='file', name='avatar', )
                button.btn.btn-primary(type='submit') Update