extend ../layouts/common

block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-3
        a.navbar-brand(href='#')
            img(src="/images/p1.jpg", alt="lolol",width="30", height="30",loading="lazy")
        a.navbar-brand(href='#') VIEW USER
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/users') Home
        if user
            p(style ="color:white;")= user.name  
    .row        
        .col-12.col-md-4
            .d-flex.justify-content-center
                if userX.avatar
                    img.rounded.float-left(src= "/" + userX.avatar, width="300px", height="300px",style="object-fit:cover;")
                else
                    img.rounded.float-left(src="https://picsum.photos/200", width="300px", height="300px",style="object-fit:cover;")
        .col-12.col-md-8          
            table.table.table-bordered
                thead.thead-dark
                    tr.text-center
                        th(scope='col') Name
                        th(scope='col') Email
                        th(scope='col') 
                        th(scope='col') 
                tbody
                    tr 
                        td.text-center= userX.name
                        td.text-center= userX.email
                        td.text-center
                            a.btn.btn-light(href="/users/" + userX.id + "/update") Update
                        td.text-center
                            a.btn.btn-light(href="/users/" +  userX.id + "/delete") Delete
